@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.page {
    background-color: #FFF4F1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: var(--font-body);
    color: var(--color-black);
}

.booking-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit-btn {
    width: 90%;
    background-color: var(--color-red);
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    height: 4rem;
    border: none;
    border-radius: 3px;
}