header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

header > button {
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 2;
    padding: 5px;
    color: var(--color-red);
    background-color: rgba(236, 49, 90, 0.12);
    border: none;
    border-radius: 3px;
}

header > img {
    width: 75px;
}

header > h1 {
    font-family: var(--font-heading);
    color: var(--color-red);
    font-size: 3.75rem;
    letter-spacing: 1.5px;
    font-weight: 500;
}

.nav-page {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: #1C1919;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity .3s ease;
    opacity: 1;
}

.nav-page > ul {
    list-style: none;
    font-size: 3rem;
    font-family: var(--font-heading);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

}

.nav-link{
    text-decoration: none;
    color: var(--color-red);
}

.hidden {
    display: none;
}