

.info-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.when-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.info-form > h2 {
    font-family: var(--font-heading);
    color: var(--color-blue);
    font-size: 24px;
    font-weight: 500;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 2rem;
    width: 100%;
}

.input-container > input {
    height: 2rem;
    border: 1px solid var(--color-blue);
    border-radius: 3px;
    width: 90%;

}

.input-container > label {
    font-size: 12px;
    color: var(--color-blue);
    margin-top: 1rem;
    position: absolute;
    top: -50%;
    left: 2rem;
    transform: translateY(-50%);
    background: #fff;
    text-transform: uppercase;
}

