

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.when-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.form > h2 {
    font-family: var(--font-heading);
    color: var(--color-blue);
    font-size: 24px;
    font-weight: 500;
    margin-top: 1.5rem;
}

.field-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 1.5rem;
    width: 100%;
}

.field-container > input {
    height: 3rem;
    border: 1px solid var(--color-blue);
    border-radius: 3px;
    width: 90%;
    font-size: 1.3rem;
    padding-left: .5rem;
    background: none;
}

.field-container > label {
    font-size: 12px;
    color: var(--color-blue);
    margin-top: 1rem;
    position: absolute;
    top: -30%;
    left: 2rem;
    transform: translateY(-50%);
    background: #FFF4F1;
    text-transform: uppercase;
}

